@model FastMarket.Models.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h2>hello form add page </h2>

<form asp-controller="Product" asp-action="AddProduct" method="post" enctype="multipart/form-data" >

    <partial name="_AddEdit"/>
    <button type="submit">add product</button>
</form>
<div asp-validation-summary="All"></div>
