@page
@model FastMarket.Pages.cart.IndexModel
@using Microsoft.AspNetCore.Identity
@using FastMarket.Auth.Models
@inject SignInManager<ApplicationUser> SignInMngr;
@{
    ViewBag.Title = "Cart";
}

@{

    if (SignInMngr.IsSignedIn(User))
    {
        <h1> with in your Cart @User.Identity.Name </h1>
    }
    else
    {
        <a asp-page="/Auth/Index"><button>sign In </button></a>
    }
}
