@model FastMarket.Models.Categories
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<a class="btn btn-primary btn-lg " asp-controller ="Categories" asp-action = "Index" >  Back </a>

<section class="vh-100"  >
  <div class="container h-100">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

<form asp-controller="Categories" asp-action = "Add" method ="post" align="center">

  

      <label class="form-label" for="form3Example3"> Name </label>

      <input asp-for ="@Model.Name" type="text"  class="form-control form-control-lg" />



    <label class="form-label" for="form3Example3"> Details </label>

      <input  asp-for ="@Model.Details" type="text"  class="form-control form-control-lg" />

   <button class = "btn btn-success" type="submit"> Add </button>
</form>
   </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div asp-validation-summary="All"></div>
