@model FastMarket.Models.Categories
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




<section class="vh-100" style="background-color: #eee; >
  <div class="container h-100">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

<form asp-controller ="Categories" asp-action="Edit" method = "post" align="center">
    <input hidden asp-for ="@Model.Id" />

  
   <div class="form-outline mb-4">
      <label class="form-label" for="form3Example3"> Name </label>

      <input asp-for ="@Model.Name"type="text"  class="form-control form-control-lg" />
          </div>


      <div class="form-outline mb-4">
      <label class="form-label" for="form3Example3"> Details </label>

      <input  asp-for = "@Model.Details" type="text"  class="form-control form-control-lg" />
          </div>

    <button type="submit"> Edit</button>
</form>
   </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div asp-validation-summary="All"></div>


