@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<img src="https://faststorestorage.blob.core.windows.net/images/DefaultIMG.png" width=120 alt="Logo" />
<h1>Fast Market</h1>


<a asp-controller="Categories" asp-action="Index"> <button>Category</button> </a>
<a asp-controller="Product" asp-action="Index"> <button>All Products</button></a>

</br>

</br>

</br>


<a asp-page="/CategPage/Index"> <button style="width : 200px">Category in razur pages</button> </a>
