@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{if (ViewBag.WrongUser != null)
{
    <h2>@ViewBag.WrongUser</h2>
}}

<form  asp-controller="Auth"  asp-action="Authenticate" method="post" >
      <label>User Name <input name="UserName"/> </label> 
   <label> Password  <input name="Password"/></label>  
    <button type="submit"> Login </button>

</form>
<div asp-validation-summary="All"></div>