@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<form asp-controller="Auth" asp-action = "SignUp" method ="post">
    <input name="UserName"/>
    <input name="Password"/>
    <input name="Email"/>
    <button type="submit"> Sign Up </button>

</form>
