@page
@model FastMarket.Pages.Auth.IndexModel
@{
    ViewBag.Title = "Sign In Page";
}

from razur

 
@{if (ViewBag.WrongUser != null)
    {
        <h2>@ViewData["WrongUser"]</h2>
    }}

<form  method="post">
    <label>User Name <input name="UserName" /> </label>
    <label> Password  <input name="Password" /></label>
    <button type="submit"> Login </button>

</form>
<div asp-validation-summary="All"></div>